body {
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    max-width: 1200px;
    margin: 0 auto;
    color: #353535;
    background-color: #f0f0ea;
}

h1 {
    font-size: 29px;
    color: #343434;
}

h2 {
    font-size: 15px;
    color: #343434;
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

button[type=submit] {
    font-family: Roboto, Arial, sans-serif;
    font-size: 22px;
    font-weight: bold;
    box-sizing: content-box;
    width: 206px;
    height: 60px;
    border: 4px solid #fa9;
    border-radius: 8px;
    background-color: white;
}

button[type=submit]:hover {
    border-color: #ff6d51;
}

button[type=submit]:active {
    color: white;
    border-color: #ff6d51;
    outline: none;
    background-color: #ff6d51;
}

input[type=text],
input[type=number],
select,
textarea {
    font-size: 18px;
    line-height: 26px;
    box-sizing: border-box;
    width: 222px;
    height: 42px;
    padding-left: 14px;
    border: 1px solid #d9d9d3;
    border-radius: 4px;
    background-color: white;
}

input[type=text]:hover,
input[type=number]:hover,
select:hover,
textarea:hover {
    border-color: #fa9;
}

input[type=text]:focus,
input[type=number]:focus,
select:focus,
textarea:focus {
    outline: none;
    box-shadow: 0 0 4px 1px #ff6547;
}

select {
    text-indent: 10px;
}

select option:hover {
    background-color: #ff6547;
}

.feature {
    position: relative;
    float: left;
    box-sizing: border-box;
    width: 70px;
    min-width: 70px;
    height: 45px;
    min-height: 45px;
    margin-right: 10px;
}

.feature:last-child {
    margin-right: 0;
}

.feature span {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    content: '';
    border: 1px solid #d9d9d3;
    border-radius: 4px;
}

.feature input {
    position: absolute;
}

.feature input:hover + span {
    border-color: #fa9;
}

.feature input:checked + span {
    border-color: #ff6547;
    background-color: #ff6547;
}

.feature__image {
    box-sizing: border-box;
    width: 70px;
    min-width: 70px;
    height: 45px;
    min-height: 45px;
    background: white url(../img/features-sprite.png) no-repeat;
}

.feature__image--dishwasher {
    background-position: 0 -7px;
}

.feature__image--elevator {
    background-position: 5px -61px;
}

.feature__image--conditioner {
    background-position: 7px -117px;
}

.feature__image--parking {
    background-position: 5px -173px;
}

.feature__image--washer {
    background-position: 7px -229px;
}

.feature__image--wifi {
    background-position: 3px -285px;
}

.upload {
    position: relative;
    box-sizing: border-box;
    width: 146px;
    min-width: 146px;
    max-width: 146px;
    height: 70px;
    margin-right: 5px;
    text-align: center;
    vertical-align: middle;
    color: #cdcdc7;
    border: 2px dashed #b3b3ad;
    border-radius: 4px;
}

.upload input {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.upload:hover {
    color: #ff6547;
    border-color: #ff6547;
}

.header {
    position: absolute;
    z-index: 100;
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
}

.header__logo {
    margin: 20px 0 0;
}

.header__motto {
    margin: 0;
    padding: 0;
}

.tokyo {
    position: relative;
}

.tokyo__filters-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1200px;
    height: 46px;
    background-color: rgba(3, 28, 45, .5);
}

.tokyo__filters {
    display: flex;
    flex-direction: row;
    width: 960px;
    margin: 0 auto;
    flex-wrap: nowrap;
}

.tokyo__filter {
    font-size: 14px;
    width: 160px;
    height: 30px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-indent: 0;
}

.tokyo__filter-set {
    display: inline;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.tokyo__filter-set .feature {
    width: 30px;
    min-width: 30px;
    height: 28px;
    min-height: 28px;
}

.tokyo__filter-set .feature__image {
    width: 30px;
    min-width: 30px;
    height: 28px;
    min-height: 28px;
    background-size: 100%;
}

.tokyo__filter-set .feature__image--dishwasher {
    background-position: 0 1px;
}

.tokyo__filter-set .feature__image--elevator {
    background-position: 2px -22px;
}

.tokyo__filter-set .feature__image--conditioner {
    background-position: 2px -46px;
}

.tokyo__filter-set .feature__image--parking {
    background-position: 2px -70px;
}

.tokyo__filter-set .feature__image--washer {
    background-position: 2px -94px;
}

.tokyo__filter-set .feature__image--wifi {
    background-position: 1px -118px;
}

.notice {
    max-width: 960px;
    margin: 0 auto;
}

.notice__title {
    font-family: Roboto, serif;
    font-size: 28px;
    font-weight: bold;
    margin-top: 28px;
    margin-bottom: 20px;
}

.notice__photo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.notice__photo div {
    margin-right: 10px;
}

.notice__preview {
    overflow: hidden;
    box-sizing: border-box;
    width: 70px;
    min-width: 70px;
    height: 70px;
    text-align: center;
    border: 4px transparent;
    border-radius: 4px;
    background: #dadad4;
}

.notice__preview:before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
}

.notice__preview img {
    vertical-align: middle;
}

.notice__info {
    margin: 0;
    align-self: flex-start;
}

.form__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.form__panel {
    width: 470px;
}

.form__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form__element {
    margin-bottom: 10px;
}

.form__element label {
    font-size: 14px;
    display: block;
}

.form__element--wide input {
    display: block;
    width: 100%;
}

.form__element--wide textarea {
    width: 100%;
    height: 214px;
}

.form__photo-container {
    display: flex;
    flex-wrap: wrap;
}

.form__photo {
    box-sizing: border-box;
    width: 70px;
    min-width: 70px;
    max-width: 70px;
    height: 70px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 4px transparent;
    border-radius: 4px;
    background: #dadad4;
}

.form__submit {
    display: block;
    margin: 35px auto;
}

.footer {
    font-size: 12px;
    box-sizing: border-box;
    width: 960px;
    margin: 0 auto;
    padding: 20px 0 40px;
    border-top: solid 1px #ccc;
}

.footer .center-wrapper {
    display: flex;
}

.footer a {
    color: #353535;
}

.footer-logo,
.footer-social {
    width: 50%;
    flex-basis: 50%;
}

.footer-logo {
    position: relative;
    padding-top: 55px;
}

.footer-logo-link:hover {
    opacity: .6;
}

.footer-logo-image {
    position: absolute;
    top: 0;
    left: 0;
}

.footer-social {
    text-align: right;
}

.footer-social-item {
    font-size: 0;
    display: inline-block;
    overflow: hidden;
    width: 29px;
    height: 29px;
    margin-left: 10px;
    list-style: none;
    vertical-align: top;
    text-indent: -1999em;
    opacity: .6;
    background: url('../img/social-sprite.png') no-repeat -59px -59px;
}

.footer-social-item:hover {
    opacity: 1;
}

.footer-social-item-instagram {
    background-position: -10px -59px;
}

.footer-social-item-facebook {
    background-position: -59px -10px;
}

.footer-social-item-vk {
    background-position: -10px -10px;
}

.dialog {
    position: absolute;
    top: 70px;
    left: 20px;
    width: 230px;
    height: 510px;
}

.dialog__title {
    position: relative;
}

.dialog__close {
    position: absolute;
    right: 0;
    bottom: 0;
}

.dialog__panel {
    padding: 4px;
    border: 2px solid transparent;
    border-radius: 4px;
    background-color: white;
}

.lodge__title {
    font-size: 16px;
    line-height: 18px;
    margin: 0 0 4px;
}

.lodge__address {
    font-size: 12px;
    line-height: 16px;
    margin: 0 0 10px;
}

.lodge__price {
    font-size: 22px;
    line-height: 16px;
    margin: 0 0 10px;
}

.lodge__type {
    font-size: 12px;
    line-height: 16px;
    margin: 0;
}

.lodge__rooms-and-guests {
    font-size: 12px;
    line-height: 16px;
    margin: 0;
}

.lodge__checkin-time {
    font-size: 12px;
    line-height: 16px;
    margin: 0;
}

.lodge__features {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}

.lodge__features .feature__image {
    display: block;
    width: 30px;
    min-width: 30px;
    height: 28px;
    min-height: 28px;
    background-size: 100%;
}

.lodge__features .feature__image--dishwasher {
    background-position: 0 1px;
}

.lodge__features .feature__image--elevator {
    background-position: 2px -23px;
}

.lodge__features .feature__image--conditioner {
    background-position: 2px -49px;
}

.lodge__features .feature__image--parking {
    background-position: 2px -75px;
}

.lodge__features .feature__image--washer {
    background-position: 2px -101px;
}

.lodge__features .feature__image--wifi {
    background-position: 1px -126px;
}

.lodge__description {
    font-size: 12px;
    line-height: 16px;
    margin: 0 0 10px;
}

.pin {
    position: absolute;
    top: 340px;
    left: 536px;
    width: 56px;
    height: 75px;
    background-image: url('../img/pin.png');
}

.pin:hover {
    cursor: pointer;
}

.pin--active {
    background-image: url('../img/pin-active.png');
}

.pin img {
    margin-top: 8px;
    margin-left: 8px;
}

.pin__main {
    top: 300px;
    left: 600px;
    width: 75px;
    height: 94px;
    background-image: url('../img/main-pin.png');
}

.pin__main img {
    margin-top: 15px;
    margin-left: 17px;
}

.rounded {
    border-radius: 50%;
}
